body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;

}



form {
  margin-top: 10%;
  padding: 20px;
  width: 31.2%;
  background-color: #fff;
  border-radius: 5px;


}

label {
  display: block;
  margin-bottom: 10px;
  color: #555;
}

input {
  width: 90%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  background-color: #080808;
  color: #fff;
  border: none;
  width: 15%;
  height: 5vh;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 45%;
}

p {
  font-weight: bold;
}