body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-image: url('./images/drop-3698073.jpg');
  }
  
  h1 {
    color: #333;
    m
  }
  
  form {
    margin-top: 10%;
    margin-left: 35%;
    padding: 20px;
    width: 600px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    color: #555;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  p {
    color: red;
  }
  